{% extends "core/base.html" %} {% block content %}
      <div class="row">
        <div class="col-md-8">
            {% if loggedin == True %}
            There are no files in your queue!
            {% else %}
            <h1>Welcome to PawlessPrint!</h1>
            <br>
            <h5>To login, step into the frame and hold up a five with both of your hands</h5>
            <br>
            <h5>Once you're logged in, to select the next file in your queue, hold up a five with your right hand</h5>
            <br>
            <h5>To move back up to the previous uploaded file, hold up a five with your left hand</h5>
            <br>
            <h5>To preview a selected document, lean to the left</h5>
            <br>
            <h5>To scroll down through a previewed document, hold up a five with your right hand</h5>
            <br>
            <h5>To scroll up through a previewed document, hold up a five with your left hand</h5>
            <br>
            <h5>To exit preview mode and return to the queue, lean to the right</h5>
            <br>
            <h5>To print out the selected file, jump</h5>
            <br>
            <h5>To logout, just walk away</h5>
            <br>
            <h5>To hear the instructions at any point, squat </h5>
            {% endif %}
        </div>
      </div>
{% endblock content %}
